.queue-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  // grid-template-rows: auto;
  grid-row-gap: 2vw;
  grid-column-gap: 2vw;

  width: 90vw;
  height: 25vw;
  border: 1px solid;
  margin: 0 auto;
  overflow: scroll;
}
